.CartContainer{
    max-width: 900px;
    border: 2px solid rgb(173, 162, 162);
    position: fixed;
    right: 0;
    top: 40px;
    background-color: black;
    /* opacity: 70%; */
    height: 80vh;
    border-radius: 10px;
}
.UOlist{
    border: 5px solid rgb(190, 175, 175);
    background-color:rgb(7, 5, 5);
    overflow: scroll;
    height: 400px;
    border-radius: 10px;
}
.cartList{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(8, 8, 8);
    border: 5px solid rgb(155, 129, 129);
    margin: 5px;
    color: white;
    border-radius: 10px;
}
img{
    /* border: 1px solid red; */
    width: 80px;
    height: 80px;
}
.div1{
    /* align-items: center; */
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.div1 p{
    max-width: 50px;
    margin-right: 5px;
    /* border: 5px solid red; */
    overflow-x: hidden;
}
.div2{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.div3{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.cartHeader{
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
}
.div3 input{
    width: 20px;
}
.cross{
    display: flex;
    justify-content: end;
    color: white;
    font-size: xx-large;
    padding: 10px;
}
.cross button{
    padding: 5px;
    margin: 5px;
}