.HomeCompContainer{
    max-width: 500px;
    margin: 20px auto;
    background-color: rgb(109, 124, 124);
    border: 5px solid rgb(184, 172, 172);
    border-radius: 10px;
    color: white;
    font-size: x-large;
}

.InputDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.InputDiv input{
    padding: 10px;
    border-radius: 10px;
}

.InputDiv textarea{

    border-radius: 1px;
}
.FormBtn{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(92, 86, 86);
    margin:10px 40%;
    border-bottom: 5px solid rebeccapurple;
}