.headerCon{
    background-color: rgb(138, 127, 127);
    padding: 40px;
    border: 1px solid rgb(19, 18, 18);
    /* font-size: 100px; */
}
.container{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    color:white;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    /* border: 2px solid red; */
    margin-left: -42px;
}
.container li{
    border: 1px solid rgb(218, 206, 206);
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(13, 14, 14);
    font-size: larger;
    color: white;
}
.container li:hover{
    transform: scale(2);
}

.button button{
    padding: 5px;
    width: 6rem;
    font-size: x-large;
    border-radius: 5px;
}

.headerCartNo{
    border: 1px solid rgb(110, 99, 99);
    position: absolute;
    top: 2px;
    right: 8%;
    background-color: aliceblue;
    border-radius: 8px;
    border-bottom: 5px solid rebeccapurple;
}
.generic{
    /* padding-top: 100px; */
    padding: 40px;
    font-size: 100px;
    text-align: center;
}